.row
  .col-md-4.col-md-offset-4
    h2 = resource_name.to_s.humanize
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      = f.error_notification
      .form-group
        = f.input :email, required: true, autofocus: true, input_html: { class: "form-control" }
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          p
            | Currently waiting confirmation for:
            = resource.unconfirmed_email
      .form-group
        = f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false, input_html: { class: "form-control" }
      .form-group
        = f.input :password_confirmation, required: false, input_html: { class: "form-control" }
      .form-group
        = f.input :current_password, hint: "we need your current password to confirm your changes", required: true, input_html: { class: "form-control" }
      .form-actions
        = f.button :submit, "Update", class: "btn btn-primary"
    h3
      | Cancel my account
    p
      | Unhappy? 
      = link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete
    = link_to "Back", :back
