.row
  .col-md-4.col-md-offset-4
    h2 Sign up
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = f.error_notification
      .form-group
        = f.input :first_name, required: true, autofocus: true, input_html: { class: "form-control" }
      .form-group
        = f.input :last_name, required: true, input_html: { class: "form-control" }
      .form-group
        = f.input :email, required: true, input_html: { class: "form-control" }
      .form-group
        = f.input :password, required: true, input_html: { class: "form-control" }
      .form-group
        = f.input :password_confirmation, required: true, input_html: { class: "form-control" }
      .form-actions
        = f.button :submit, "Sign up", class: "btn btn-primary"
    = render "devise/shared/links"
