= simple_form_for [@user, @photo, @comment] do |f|
  - if @comment.errors.any?
    #error_explanation
      h2 = "#{pluralize(@comment.errors.count, "error")} prohibited this comment from being saved:"
      ul
        - @comment.errors.full_messages.each do |message|
          li = message

  .form-group
    = f.input :content, required: true, autofocus: true, label: false, placeholder: "What's on your mind?", input_html: { class: "form-control", rows: 3 }
  .form-actions
    = f.button :submit, "Add comment", class: "btn btn-primary"
