= simple_form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      h2 = "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      ul
        - @user.errors.full_messages.each do |message|
          li = message
  .form-group
    = f.input :first_name, required: true, autofocus: true, input_html: { class: "form-control" }
  .form-group
    = f.input :last_name, required: true, input_html: { class: "form-control" }
  .form-actions
    = f.button :submit, "Save", class: "btn btn-primary"
