.row
  .col-md-4.col-md-offset-4
    h1 Listing users
    .table-responsive
      table.table.users-table
        tbody
          - @users.each do |user|
            - unless current_user and current_user == user
              tr
                td
                  = link_to user.name, user
                - if current_user
                  - if current_user.is_friend?(user)
                    td Friend
                  - elsif current_user.already_requested?(user)
                    td Requested
                  - elsif current_user.has_requested_friendship?(user)
                    td = link_to 'Accept', accept_path(user), method: :post, class: "btn btn-success"
                    td = link_to 'Deny', deny_path(user), method: :post, class: "btn btn-danger"
                  - else
                    td = link_to 'Befriend', befriend_path(user), method: :post, class: "btn btn-primary"