.row
  .col-md-4.col-md-offset-4
    h1 Friend requests
    .table-responsive
      table.table.users-table
        tbody
          - @users.each do |user|
            - unless current_user and current_user == user
              tr
                td
                  = link_to user.name, user
                td
                  = link_to 'Accept', accept_path(user), method: :post, class: "btn btn-success"
                td
                  = link_to 'Deny', deny_path(user), method: :post, class: "btn btn-danger"