- if @user && @user == current_user
  h1 My Photos
- else
  h1 #{@user.name}
  hr
  - if current_user
    - if current_user.is_friend?(@user)
      td Friend
    - elsif current_user.already_requested?(@user)
      td Requested
    - elsif current_user.has_requested_friendship?(@user)
      td = link_to 'Accept', accept_path(@user), method: :post, class: "btn btn-success"
      td = link_to 'Deny', deny_path(@user), method: :post, class: "btn btn-danger"
    - else
      td = link_to 'Befriend', befriend_path(@user), method: :post, class: "btn btn-primary"
  h2 #{@user.name}'s photos

- @photos.each do |photo|
  .col-sm-4.index-photo
    = link_to [photo.user, photo] do
      = image_tag photo.file.url
    h4.text-center.photo-description = photo.description
    h5.text-center.photo-time
      - unless photo.public
        span.glyphicon.glyphicon-lock
        | &nbsp;
      = time_ago_in_words photo.updated_at
      | &nbsp;ago