.row
  .col-md-4.col-md-offset-4
    h2 Forgot your password?
    = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      = f.error_notification
      .form-group
        = f.input :email, required: true, autofocus: true, input_html: { class: "form-control" }
      .form-actions
        = f.button :submit, "Send me reset password instructions", class: "btn btn-primary"
    = render "devise/shared/links"
