h2 Latest photos
.row
  - @photos.each do |photo|
    .col-sm-4.index-photo
      = link_to [photo.user, photo] do
        = image_tag photo.file.url
      h4.text-center.photo-description
        = "#{photo.description} by "
        = link_to photo.user.name, photo.user
      span.text-center.photo-time
        - unless photo.public
          span.glyphicon.glyphicon-lock
          | &nbsp;
        = time_ago_in_words photo.updated_at
        | &nbsp;ago

