.row
  .col-md-4.col-md-offset-4
    h2 Sign in
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .form-group
        = f.input :email, required: false, autofocus: true, input_html: { class: "form-control" }
      .form-group
        = f.input :password, required: false, input_html: { class: "form-control" }
      .form-group
        = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
      .form-actions
        = f.button :submit, "Sign in", class: "btn btn-primary"
    = render "devise/shared/links"
