= simple_form_for [@user, @photo] do |f|
  - if @photo.errors.any?
    #error_explanation
      h2 = "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      ul
        - @photo.errors.full_messages.each do |message|
          li = message
  .form-group
    = f.input :description, required: true, autofocus: true, input_html: { class: "form-control" }
  - if params[:action] == 'new'
    .form-group
      = f.input :file
  - else
    .index-photo = image_tag @photo.file.url
  .form-group
    = f.label :public
    = f.input :public, label: false
  .form-actions
    = f.button :submit, "Save", class: "btn btn-primary"
