.row
  .col-sm-6
    .index-photo
      = image_tag @photo.file.url
      - if @photo.user == current_user
        = link_to edit_user_photo_path(@photo.user, @photo), class: "btn btn-info left-top" do
            span.glyphicon.glyphicon-edit
    h4.text-center.photo-description
      = "#{@photo.description} by "
      = link_to @photo.user.name, @photo.user
    h5.text-center.photo-time
      - unless @photo.public
        span.glyphicon.glyphicon-lock
        | &nbsp;
      = time_ago_in_words @photo.updated_at
      | &nbsp;ago
    br
    = render 'comments/form'

    h4 Comments
    - @comments.each do |comment|
      .well.well-sm
        p
          - if comment.user == current_user
            = link_to [comment.photo.user, comment.photo, comment], data: {:confirm => 'Are you sure?'}, :method => :delete do
              span.glyphicon.glyphicon-remove.pull-right
          = comment.content
        p
          | by&nbsp;
          = link_to comment.user.name, comment.user
          span.pull-right
            = time_ago_in_words comment.updated_at
            | &nbsp;ago

  .col-sm-6
    - if current_user
      - if @photo.has_liked?(current_user)
        = link_to dislike_path(@photo.user, @photo), :method => :delete, class: "btn btn-danger" do
          span.glyphicon.glyphicon-thumbs-down
          | &nbsp; Unlike
      - else
        = link_to like_path(@photo.user, @photo), :method => :post, class: "btn btn-success"  do
          span.glyphicon.glyphicon-thumbs-up
          | &nbsp; Like

    - if @photo.like_users.any?
      h4.liked_users Liked by:
      - liked_users = @photo.like_users.collect do |user|
        - link_to "#{user.first_name} #{user.last_name}", user
      = liked_users.join(', ').html_safe

    - if @photo.tagged_users.any?
      h4.tagged_users Tagged:
      - @photo.tagged_users.each do |user|
        .btn-group
          = link_to "#{user.name}", user, class: "btn btn-default"
          = link_to untag_path(@photo.user, @photo, user), :method => :delete, class: "btn btn-default"  do
            span.glyphicon.glyphicon-remove
        span &nbsp;

    - if @photo.taggable_users.any?
      hr
      = simple_form_for [@user, @photo, @photo.taggings.new] do |f|
        .form-group
          = f.association :user, label: false, collection: @photo.taggable_users.map {|u| [u.name, u.id]}, required: true, autofocus: true, input_html: { class: "form-control selectize" }
        .form-actions
          = f.button :submit, "Tag", class: "btn btn-primary"
