// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.index-photo {
  height: 300px;
  overflow: hidden;
  text-align: center;
  img {
    display: block;
    max-height: 100%;
    max-width: 100%;
  }
  .photo-description {
  }
  .photo-time {
  }
}
.search-button {
  line-height: 20px;
}
span.glyphicon.glyphicon-remove {
  color: red;
}
span.glyphicon {
  line-height: 20px;
}
table.table.users-table {
  width: auto;
  td {
    vertical-align: middle;
  }
}
.left-top {
  position: absolute;
  left: 20px;
  top: 5px;
}
