nav.navbar.navbar-default
  .container
    ul.nav.navbar-nav.navbar-left
      li= link_to 'Home', root_path
      - if current_user
        li= link_to 'My profile', current_user
        - if current_user.friend_requests.any?
          li= link_to requests_path(current_user) do
            | Friend requests &nbsp;
            span.badge = current_user.friend_requests.size
        li= link_to 'Friends', friends_path(current_user)
        li= link_to 'New photo', new_user_photo_path(current_user)

    ul.nav.navbar-nav.navbar-right
      form class="navbar-form navbar-left" role="search" method="get" action=search_path
        .form-group
          .input-group
            input type="text" name="query" class="form-control" placeholder="Search"
            span class="input-group-btn"
              button type="submit" class="btn btn-default"
                span.glyphicon.glyphicon-search.search-button
      - if current_user
        li= link_to current_user.first_name, edit_user_path(current_user)
        li= link_to 'Log out', destroy_user_session_path, method: :delete
      - else
        li= link_to 'Log in', new_user_session_path
        li= link_to 'Sign up', new_user_registration_path