html
  head
    title Fluxx
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  body
    = render 'layouts/navigation'
    .container
      = flash[:error]
      = flash[:notice]
      = flash[:warning]
      = yield

